language: python
sudo:
  -
  # - false
  # - true
  # - required

dist:
  -
  # - precise
  # - trusty
  # - xenial

os:
  - linux
  - osx
  # TODO: - windows

python:
  -
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - 3.5
  - 3.5-dev
  - 3.6
  - 3.6-dev
  - 3.7-dev
  - 3.8-dev
  - nightly
  - pypy
  - pypy2.7
  - pypy3
  - pypy3.5

osx_image:
  -
  - xcode11
  - xcode10.2
  - xcode10.1
  - xcode10
  - xcode9.4
  - xcode9.3
  - xcode9.2
  - xcode9.1
  - xcode9
  - xcode8.3
  - xcode8
  - xcode7.3
  - xcode6.4

env:
  -
  - TOXENV=py2
  - TOXENV=py3

addons:
  apt:
    update: true
  homebrew:
    update: true
    brewfile: true

services:
  - docker

matrix:
  fast_finish: true

  allow_failures:
    - python: 3.5-dev
    - python: 3.6-dev
    - python: 3.7-dev
    - python: 3.8-dev
    - python: nightly
    - python: pypy2.7
    - python: pypy3.5

  exclude:
    - { os: linux, env: TOXENV=py2 }
    - { os: linux, env: TOXENV=py3 }
    - { os: osx, env: "" } # TODO: remove
    - { os: linux, osx_image: "" }
    - { os: linux, osx_image: xcode11 }
    - { os: linux, osx_image: xcode10.2 }
    - { os: linux, osx_image: xcode10.1 }
    - { os: linux, osx_image: xcode10 }
    - { os: linux, osx_image: xcode9.4 }
    - { os: linux, osx_image: xcode9.3 }
    - { os: linux, osx_image: xcode9.2 }
    - { os: linux, osx_image: xcode9.1 }
    - { os: linux, osx_image: xcode9 }
    - { os: linux, osx_image: xcode8.3 }
    - { os: linux, osx_image: xcode8 }
    - { os: linux, osx_image: xcode7.3 }
    - { os: linux, osx_image: xcode6.4 }
    - { os: osx, python: 2.6 }
    - { os: osx, python: 2.7 }
    - { os: osx, python: 3.2 }
    - { os: osx, python: 3.3 }
    - { os: osx, python: 3.4 }
    - { os: osx, python: 3.5 }
    - { os: osx, python: 3.5-dev }
    - { os: osx, python: 3.6 }
    - { os: osx, python: 3.6-dev }
    - { os: osx, python: 3.7-dev }
    - { os: osx, python: 3.8-dev }
    - { os: osx, python: nightly }
    - { os: osx, python: pypy }
    - { os: osx, python: pypy2.7 }
    - { os: osx, python: pypy3 }
    - { os: osx, python: pypy3.5 }

  include:
    - python: 3.7
      dist: xenial
      sudo: true

    - python: 3.7
      dist: xenial
      sudo: required

    - os: osx
      osx_image: ""

before_install:
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      case "${TOXENV}" in
        'py2') brew uninstall --ignore-dependencies --force python3;;
        'py3') brew uninstall --ignore-dependencies --force python2;;
      esac
    fi
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      case "${TOXENV}" in
        'py2') brew ls python2 || brew install python2;;
        'py3') brew ls python3 || brew install python3;;
      esac
    fi
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      case "${TOXENV}" in
        'py2') brew link --overwrite python2;;
        'py3') brew link --overwrite python3;;
      esac
    fi
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      case "${TOXENV}" in
        'py2') brew outdated python2 || brew upgrade python2;;
        'py3') brew outdated python3 || brew upgrade python3;;
      esac
    fi
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      case "${TOXENV}" in
        'py2') brew link --overwrite python2;;
        'py3') brew link --overwrite python3;;
      esac
    fi
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      case "${TOXENV}" in
        # 'py2')
        #     pip2 install --force-reinstall virtualenv virtualenvwrapper
        #     mkdir venv
        #     virtualenv venv
        # ;;
        'py3')
            python3 -m venv venv
            . venv/bin/activate
        ;;
      esac
    fi

install:
  # - pip install --upgrade pip
  - pip install pytest

before_script:
  - uname -a
  - python --version
  - pip --version
  - python -m pytest --version

script:
  - make test
