language: python
os: linux

python:
  - 3.4
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  # - pypy3
  # - pypy3.5

addons:
  apt:
    update: true
  homebrew:
    update: true
    brewfile: true

services:
  - docker

matrix:
  fast_finish: true

  include:
    # run these jobs on all branches
    - os: osx
    osx_image: xcode12
      language: generic
      env: TOXENV=py2
      if: branch == master

before_install:
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      python3 -m venv venv
      . venv/bin/activate
    fi

install:
  - make bootstrap

script:
  - make test
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      make install_test
    fi
