language: python

python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.5-dev
  - 3.6
  - 3.6-dev
  - 3.7-dev
  - 3.8-dev
  - nightly
  - pypy
  - pypy2.6
  - pypy2.7
  - pypy3
  - pypy3.3
  - pypy3.4
  - pypy3.5

sudo:
  - false

matrix:
  fast_finish: true
  allow_failures:
    - python: 3.5-dev
    - python: 3.6-dev
    - python: 3.7-dev
    - python: 3.8-dev
    - python: nightly
  include:
      - os: osx
        language: generic
        env: TOXENV=python@2
      - os: osx
        language: generic
        env: TOXENV=python@3

before_install:
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
        case "${TOXENV}" in
            'python@2')
                brew list python2 >/dev/null 2>&1 || brew install python2 ;;
            'python@3')
                brew list python3 >/dev/null 2>&1 || brew install python3 ;;
        esac
    fi

install:
  -

script:
  - if [ "$(printf '%s\n' "${TRAVIS_PYTHON_VERSION}" | tr -d '.')" -le '35' ]; then
      py.test 'tests.py';
    else
      pytest 'tests.py';
    fi
