language: python
sudo: false

python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - 3.5
  - 3.5-dev
  - 3.6
  - 3.6-dev
  - 3.7-dev
  - 3.8-dev
  - nightly
  - pypy
  - pypy2.7
  - pypy3
  - pypy3.5

matrix:
  fast_finish: true

  allow_failures:
    - python: 3.5-dev
    - python: 3.6-dev
    - python: 3.7-dev
    - python: 3.8-dev
    - python: nightly
    - python: pypy2.7
    - python: pypy3.5

  include:
    - python: 3.7
      dist: xenial
      sudo: true

    - &mac-py2
      os: osx
      language: generic
      env: TOXENV=py2
      addons:
        homebrew:
          update: true
          packages: python2
    - &mac-py3
      os: osx
      language: generic
      env: TOXENV=py3
      addons:
        homebrew:
          update: true
          packages: python3

    # 10.14
    - { <<: *mac-py2, osx_image: xcode10.2 }
    - { <<: *mac-py3, osx_image: xcode10.2 }
    # 10.13
    - { <<: *mac-py2, osx_image: xcode10.1 }
    - { <<: *mac-py3, osx_image: xcode10.1 }
    # 10.13
    - { <<: *mac-py2, osx_image: xcode10 }
    - { <<: *mac-py3, osx_image: xcode10 }
    # 10.13
    - { <<: *mac-py2, osx_image: xcode9.4 }
    - { <<: *mac-py3, osx_image: xcode9.4 }
    # 10.13
    - { <<: *mac-py2, osx_image: xcode9.3 }
    - { <<: *mac-py3, osx_image: xcode9.3 }
    # 10.12
    - { <<: *mac-py2, osx_image: xcode9.2 }
    - { <<: *mac-py3, osx_image: xcode9.2 }
    # 10.12
    - { <<: *mac-py2, osx_image: xcode9.1 }
    - { <<: *mac-py3, osx_image: xcode9.1 }
    # 10.12
    - { <<: *mac-py2, osx_image: xcode9 }
    - { <<: *mac-py3, osx_image: xcode9 }
    # 10.12
    - { <<: *mac-py2, osx_image: xcode8.3 }
    - { <<: *mac-py3, osx_image: xcode8.3 }
    # 10.11
    - { <<: *mac-py2, osx_image: xcode8 }
    - { <<: *mac-py3, osx_image: xcode8 }
    # 10.11
    - { <<: *mac-py2, osx_image: xcode7.3 }
    - { <<: *mac-py3, osx_image: xcode7.3 }

    # 10.10
    - os: osx
      osx_image: xcode6.4
      language: generic
      env: TOXENV=py2
      addons:
        homebrew:
          update: true
      before_install: |
        brew install python2
        brew link --overwrite python2
    - os: osx
      osx_image: xcode6.4
      language: generic
      env: TOXENV=py3
      addons:
        homebrew:
          update: true
      before_install: |
        brew list -1 | grep '^python$' || brew install python
        brew outdated python || brew upgrade python
        python3 -m venv env
        . ./env/bin/activate

before_install:
  - uname -a
  - which python
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      brew list
    fi
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      case "${TOXENV}" in
        'py2') brew uninstall --ignore-dependencies --force python3;;
        'py3') brew uninstall --ignore-dependencies --force python2;;
      esac
    fi
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      case "${TOXENV}" in
        'py2') brew link --overwrite python2;;
        'py3') brew link --overwrite python3;;
      esac
    fi
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ] && [ "${TOXENV}" == 'py3' ]; then
      python3 -m venv env
      . ./env/bin/activate
    fi
  - which python

install:
  - make bootstrap

before_script:
  - python --version
  - pip --version

script:
  - make test
