language: python

python:
  - 2
  - 2.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - 3
  - 3.0
  - 3.1
  - 3.2
  - 3.3
  - 3.4
  - 3.5
  - 3.5-dev
  - 3.6
  - 3.6-dev
  - 3.7-dev
  - 3.8-dev
  - nightly
  - pypy
  - pypy2
  - pypy2.0
  - pypy2.1
  - pypy2.2
  - pypy2.3
  - pypy2.4
  - pypy2.5
  - pypy2.6
  - pypy2.7
  - pypy3
  - pypy3.0
  - pypy3.1
  - pypy3.2
  - pypy3.3
  - pypy3.4
  - pypy3.5
  - pypy3.6

sudo:
  - false

matrix:
  fast_finish: true
  allow_failures:
    - python: 3.5-dev
    - python: 3.6-dev
    - python: 3.7-dev
    - python: 3.8-dev
    - python: nightly
  include:
      - os: osx
        language: generic
        env: TOXENV=python@2
      - os: osx
        language: generic
        env: TOXENV=python@3

before_install:
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
        brew update >/dev/null
        case "${TOXENV}" in
            'python@2')
                brew install python2
                pip2 install pytest
                ;;
            'python@3')
                brew upgrade python
                pip3 install pytest
                ;;
        esac
    fi

install:
  -

script:
  - if [ "$(printf '%s\n' "${TRAVIS_PYTHON_VERSION}" | tr -d '.')" -le '35' ]; then
      py.test 'tests.py';
    else
      pytest 'tests.py';
    fi
