language: python
sudo: false

python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - 3.5
  - 3.5-dev
  - 3.6
  - 3.6-dev
  - 3.7-dev
  - 3.8-dev
  - nightly
  - pypy
  - pypy2.7
  - pypy3
  - pypy3.5

addons:
  homebrew:
    update: true

matrix:
  fast_finish: true

  allow_failures:
    - python: 3.5-dev
    - python: 3.6-dev
    - python: 3.7-dev
    - python: 3.8-dev
    - python: nightly
    - python: pypy2.7
    - python: pypy3.5

  include:
    - python: 3.7
      dist: xenial
      sudo: true

    - &mac-py2
      os: osx
      language: generic
      env: TOXENV=py2

    - &mac-py3
      os: osx
      language: generic
      env: TOXENV=py3

    # 10.13
    - {<<: *mac-py2, osx_image: xcode10.1}
    - {<<: *mac-py3, osx_image: xcode10.1}
    # 10.13
    - {<<: *mac-py2, osx_image: xcode10}
    - {<<: *mac-py3, osx_image: xcode10}
    # 10.13
    - {<<: *mac-py2, osx_image: xcode9.4}
    - {<<: *mac-py3, osx_image: xcode9.4}
    # 10.13
    - {<<: *mac-py2, osx_image: xcode9.3}
    - {<<: *mac-py3, osx_image: xcode9.3}
    # 10.12
    - {<<: *mac-py2, osx_image: xcode9.2}
    - {<<: *mac-py3, osx_image: xcode9.2}
    # 10.12
    - {<<: *mac-py2, osx_image: xcode9.1}
    - {<<: *mac-py3, osx_image: xcode9.1}
    # 10.12
    - {<<: *mac-py2, osx_image: xcode9}
    - {<<: *mac-py3, osx_image: xcode9}
    # 10.12
    - {<<: *mac-py2, osx_image: xcode8.3}
    - {<<: *mac-py3, osx_image: xcode8.3}
    # 10.11
    - {<<: *mac-py2, osx_image: xcode8}
    - {<<: *mac-py3, osx_image: xcode8}
    # 10.11
    - {<<: *mac-py2, osx_image: xcode7.3}
    - {<<: *mac-py3, osx_image: xcode7.3}
    # 10.10
    - {<<: *mac-py2, osx_image: xcode6.4}
    - {<<: *mac-py3, osx_image: xcode6.4}

before_install:
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ]; then
      case "${TOXENV}" in
        'py2')
          brew install python2
          brew link --overwrite python2
        ;;
        'py3')
          brew list -1 | grep '^python$' || brew install python
          brew outdated python || brew upgrade python
        ;;
      esac
    fi
  - |
    if [ "${TRAVIS_OS_NAME}" == 'osx' ] && [ "${TOXENV}" == 'py3' ]; then
      python3 -m venv env
      . ./env/bin/activate
    fi

install:
  - make bootstrap

script:
  - make test
