version: 2.1

workflows:
  version: 2
  test:
    jobs:
      - python
      - python-latest
      - python-37
      - python-36
      - python-35
      - python-34
      - python-3
      - python-27
      - python-2

jobs:
  python:
    docker:
      - image: circleci/python
    steps: &python3
      - checkout
      - run:
          name: Run everything
          command: |
            python -m venv venv
            . venv/bin/activate
            make bootstrap
            make test
  python-latest:
    docker:
      - image: circleci/python:latest
    steps: *python3
  python-37:
    docker:
      - image: circleci/python:3.7
    steps: *python3
  python-36:
    docker:
      - image: circleci/python:3.6
    steps: *python3
  python-35:
    docker:
      - image: circleci/python:3.5
    steps: *python3
  python-34:
    docker:
      - image: circleci/python:3.4
    steps: *python3
  python-3:
    docker:
      - image: circleci/python:3
    steps: *python3

  python-2:
    docker:
      - image: circleci/python:2
    steps: &python2
      - checkout
      - run:
          name: Run everything
          command: |
            mkdir venv
            virtualenv venv
            . venv/bin/activate
            make bootstrap
            make test
  python-27:
    docker:
      - image: circleci/python:2
    steps: *python2
