version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
    steps:
      - checkout
      - run:
          command: |
            python -m venv venv
            . venv/bin/activate
            make bootstrap
            make test
