version: 2.1

commands:
  env_info:
    steps:
        - run:
            name: Print env info
            command: |
              uname -a
              python --version
              pip --version
  python3:
    steps:
      - checkout
      - env_info
      - run:
          name: Run everything
          command: |
            python -m venv venv
            . venv/bin/activate
            make bootstrap
            make test
  python2:
    steps:
      - checkout
      - env_info
      - run:
          name: Run everything
          command: |
            mkdir venv
            virtualenv venv
            . venv/bin/activate
            make bootstrap
            make test

jobs:
  python: &python
    docker: [ image: circleci/$CIRCLE_JOB ]
    steps: [ python3 ]

  python-37: { <<: *python, docker: [ image: circleci/python:3.7 ] }
  python-36: { <<: *python, docker: [ image: circleci/python:3.6 ] }
  python-35: { <<: *python, docker: [ image: circleci/python:3.5 ] }
  python-34: { <<: *python, docker: [ image: circleci/python:3.4 ] }
  python-3: { <<: *python, docker: [ image: circleci/python:3 ] }

  python-2: { <<: *python, docker: [ image: circleci/python:2 ], steps: [ python2 ] }
  python-27: { <<: *python, docker: [ image: circleci/python:2 ], steps: [ python2 ] }

  latest: { <<: *python }
  buster: { <<: *python }
  stretch: { <<: *python }
  rc: { <<: *python }
  rc-node: { <<: *python }
  stretch-node: { <<: *python }
  latest-node: { <<: *python }
  buster-node: { <<: *python }
  rc-browsers: { <<: *python }
  stretch-browsers: { <<: *python }
  latest-browsers: { <<: *python }
  buster-browsers: { <<: *python }

workflows:
  version: 2
  circleci-test:
    jobs:
      - python
      - python-37
      - python-36
      - python-35
      - python-34
      - python-3
      - python-27
      - python-2
      - latest
      - buster
      - stretch
      - rc
      - latest-node
      - buster-node
      - stretch-node
      - rc-node
      - latest-browsers
      - buster-browsers
      - stretch-browsers
      - rc-browsers
