version: 2.1

commands:
  python3:
    steps:
      - run:
          name: Run everything
          command: |
            python -m venv venv
            . venv/bin/activate
            make bootstrap
            make test

workflows:
  version: 2
  circleci-test:
    jobs:
      - python: { matrix: { parameters: { image: [ python, python:3, python:3.8, python:3.7, python:3.6, python:3.5, python:3.4 ]}}}

jobs:
  python:
    parameters:
      tag:
        type: string
    docker:
      - image: "circleci/<< parameters.image >>"
    steps:
      - checkout
      - python3
