version: 2.1

commands:
  env_info:
    steps:
      - run:
          name: Print env info
          command: |
            uname -a
            python --version
            pip --version
            python -m pytest --version
  bootstrap:
    steps:
      - run:
          name: Prepare dependencies
          command: make bootstrap
  test:
    steps:
      - run:
          name: Test
          command: make test
  python3:
    steps:
      - checkout
      - env_info
      - run:
          name: Prepare virtualenv
          command: |
            python -m venv venv
            . venv/bin/activate
      - bootstrap
      - test
  python2:
    steps:
      - checkout
      - env_info
      - run:
          name: Prepare virtualenv
          command: |
            mkdir venv
            virtualenv venv
            . venv/bin/activate
      - bootstrap
      - test

workflows:
  version: 2
  circleci-test:
    jobs:
      - python
      - python-latest
      - python-37
      - python-36
      - python-35
      - python-34
      - python-3
      - python-27
      - python-2

jobs:
  python:
    docker: [ image: circleci/python ]
    steps: [ python3 ]
  python-latest:
    docker: [ image: circleci/python:latest ]
    steps: [ python3 ]
  python-37:
    docker: [ image: circleci/python:3.7 ]
    steps: [ python3 ]
  python-36:
    docker: [ image: circleci/python:3.6 ]
    steps: [ python3 ]
  python-35:
    docker: [ image: circleci/python:3.5 ]
    steps: [ python3 ]
  python-34:
    docker: [ image: circleci/python:3.4 ]
    steps: [ python3 ]
  python-3:
    docker: [ image: circleci/python:3 ]
    steps: [ python3 ]

  python-2:
    docker: [ image: circleci/python:2 ]
    steps: [ python2 ]
  python-27:
    docker: [ image: circleci/python:2.7 ]
    steps: [ python2 ]
