version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-python-3.7
      - test-python-3.6
      - test-python-3.5
      - test-python-3.4
jobs:
  python:3.7: &test-template
    docker:
      - image: circleci/${CIRCLE_JOB}
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            python -m venv venv
            . venv/bin/activate
            python --version
            pip --version
            make bootstrap
            make test
  python-3.6:
    <<: *test-template
  python-3.5:
    <<: *test-template
  python-3.4:
    <<: *test-template
