version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-python-3.7
      - test-python-3.6
      - test-python-3.5
      - test-python-3.4
jobs:
  test-python-3.7: &test-template
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            python -m venv venv
            . venv/bin/activate
            make bootstrap
            make test
  test-python-3.6:
    <<: *test-template
    docker:
      - image: circleci/python:3.6
  test-python-3.5:
    <<: *test-template
    docker:
      - image: circleci/python:3.5
  test-python-3.4:
    <<: *test-template
    docker:
      - image: circleci/python:3.4
